@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #3858d6;
  --color-primary-hover: #1831be;
  --color-secondary: #f1f5ff;
  --color-secondary-hover: #e1eaff;
  --color-accent: #ffd012;
  --color-accent-secondary: #fff8dd;
  --color-headings: #1d3c70;
  --color-body: #6d7b93;
  --color-shadow: #3858d650;
  --color-gradient: #00d4ff;
  --border-radius: 10px;
  --icon-size: 4.2rem;
  --icon-size-2xl: 7.5rem;
  --icon-label-margin: 1rem;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: var(--color-body);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8;
}

h1,
h2 {
  color: var(--color-headings);
  margin-bottom: 3rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

/* Buttons */

.btn {
  border-radius: 5px;
  font-size: inherit;
  font-weight: inherit;
  padding: 1.5rem 5rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.btn-secondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}

/* Icons */

.icon-primary {
  color: var(--color-primary);
}

.icon-accent {
  color: var(--color-accent);
}

.icon-container {
  align-items: center;
  background: var(--color-secondary);
  border-radius: 15%;
  display: inline-flex;
  justify-content: center;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon-container-accent {
  background: var(--color-accent-secondary);
}

.icon-container-2xl {
  height: var(--icon-size-2xl);
  width: var(--icon-size-2xl);
}

.icon-label {
  color: var(--color-headings);
  line-height: 1.1;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin: 0 1rem;
}

.icon-label-sm {
  font-size: 1.8rem;
}

/* Cards */

.card {
  border: 4px solid #fafaff;
  border-radius: var(--border-radius);
  min-width: 280px;
  opacity: 0.95;
  padding: 2rem;
}

.card:hover {
  box-shadow: 0px 12px 24px var(--color-shadow);
  transition: box-shadow 0.3s;
}

.card-header {
  background: inherit;
  border-bottom: 0;
  padding: 1.5rem 1rem;
}

.card-title {
  color: var(--color-headings);
  line-height: 1.1;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card-text {
  font-size: 1.5rem;
}

/* Collapsible Card */

.collapsible {
  padding: 0 1rem 0 2rem;
}

.collapsible-chevron {
  margin-left: auto;
}

.collapsible > .card-header {
  display: flex;
  align-items: center;
}

.collapsible .card-title {
  margin: 0 1rem;
}

.collapsible > .card-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 1rem;
  transition: max-height 0.3s, opacity 0.3s, padding 0.5s;
}

.collapsible-expanded > .card-body {
  max-height: 100vh;
  opacity: 1;
  padding: 1rem;
}

/* Contact Card */

.contact-card .card-header {
  display: flex;
  align-items: center;
}

.contact-card .contact-info {
  margin-left: 2rem;
}

.contact-info .card-title {
  margin-bottom: 1rem;
}

.contact-card .card-body {
  text-align: center;
}

/* Card Groups */

.card-group {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .card-group > .card:not(:first-child),
  .card-group > .card:not(:last-child) {
    border: 4px solid #fafaff;
    border-radius: var(--border-radius);
  }
}

/* Horizontal Group */

.h-group {
  border: 4px solid #fafaff;
  border-radius: var(--border-radius);
  gap: 0;
  justify-content: center;
  margin-bottom: 3rem;
  width: 90%;
}

.h-group:hover {
  box-shadow: 0px 12px 24px var(--color-shadow);
  transition: box-shadow 0.3s;
}

.h-group .card {
  border: 0;
  border-radius: 0;
  min-width: 240px;
}

.h-group .card:hover {
  box-shadow: none;
  transition: none;
}

.h-group .card-header {
  padding-bottom: 0;
  padding-top: 0;
}

.h-group .icon-label {
  display: inline-block;
  font-size: 2.2rem;
  margin-left: var(--icon-label-margin);
}

.h-group .content {
  margin-left: calc(var(--icon-size) + var(--icon-label-margin));
}

.h-group .card-title {
  margin-bottom: 0;
}

.h-group .btn {
  margin: auto;
}

@media (min-width: 576px) {
  .h-group > .card:not(:first-child),
  .h-group > .card:not(:last-child) {
    border: 0;
    border-radius: 0;
  }
}

/* Collapsible Group */

.collapsible-group {
  display: block;
  padding: 0 3rem;
}

.collapsible-group > .card {
  margin-bottom: 2rem;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid-content {
  padding: 10rem 4rem 10rem 0;
}

.grid-content-right {
  padding: 10rem 0 10rem 4rem;
}

.grid-image-container {
  background: var(--color-primary);
  background: linear-gradient(
    135deg,
    var(--color-gradient) 0%,
    var(--color-primary) 100%
  );
}

.grid-image {
  align-self: flex-end;
  justify-self: center;
  width: 80%;
}

.grid-left {
  grid-column: 1;
  grid-row: 1 / 3;
}

.grid-right {
  grid-column: 2;
  grid-row: 1 / 3;
}

.grid-bottom {
  grid-column: 1 / 3;
  grid-row: 2;
}

.grid-bottom-left {
  grid-column: 1;
  grid-row: 2;
}

.grid-bottom-right {
  grid-column: 2;
  grid-row: 2;
}

/* Flex */

.flex {
  display: flex;
  align-items: center;
}

/* Images */

.image {
  height: 100px;
}

.image-gray {
  filter: grayscale(100%);
  opacity: 0.25;
}

/* Misc */

.clickable {
  cursor: pointer;
}
