:root {
  --color-primary: #3858d6;
  --color-primary-hover: #1831be;
  --color-secondary: #f1f5ff;
  --color-secondary-hover: #e1eaff;
}

/* Buttons */

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.btn-secondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}
